asttokens==2.4.1
beautifulsoup4==4.12.3
blinker==1.8.2
bs4==0.0.2
charset-normalizer==3.3.2
debugpy==1.8.5
executing==2.0.1
ipykernel==6.29.5
ipython==8.26.0
itsdangerous==2.2.0
MarkupSafe==2.1.5
nltk==3.8.2
numpy==2.0.1
pandas==2.2.2
prompt_toolkit==3.0.47
psutil==6.0.0
pure_eval==0.2.3
python-dateutil==2.9.0.post0
pytz==2024.1
requests==2.32.3
soupsieve==2.6
stack-data==0.6.3
typing_extensions==4.12.2
tzdata==2024.1
urllib3==2.2.2

